*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.header {
  height: 72px;
  border-bottom: 1px solid #e5e9f3;
}

.container {
}

.logo {
}

.nav {
}

.appstore {
}
